<!doctype html>
<html>
    <head>
        <title>Tinsmith: Basic Scala REPL/Worksheet</title>
        <link rel="stylesheet" href='@routes.Assets.at("components/codemirror/lib/codemirror.css")'>
        <link rel="stylesheet" href='@routes.Assets.at("components/codemirror/theme/solarized.css")'>
        <link rel="stylesheet" href='@routes.Assets.at("components/app/app.css")'>
    </head>
    <body>
        <div id="surface">
            <div id="code"></div>
            <div id="outputs">
                <div id="output"></div>
                <div id="console"></div>
            </div>
        </div>
        <script src='@routes.Assets.at("components/codemirror/lib/codemirror.js")'></script>
        <script src='@routes.Assets.at("components/codemirror/mode/clike/clike.js")'></script>
        <script src='@routes.Assets.at("components/app/app.js")'></script>
    </body>
</html>
