<!doctype html>
<html>
    <head>
        <title>Tinsmith: Basic Scala REPL/Worksheet</title>
        <script src='@routes.Assets.at("components/polymer/polymer.min.js")'></script>
        <link rel="stylesheet" href='@routes.Assets.at("components/codemirror/lib/codemirror.css")'>
        <link rel="stylesheet" href='@routes.Assets.at("components/codemirror/theme/solarized.css")'>
        <link rel="stylesheet" href='@routes.Assets.at("components/app/app.css")'>
        <link rel="import" href='@routes.Assets.at("components/polymer/polymer-ui-elements/polymer-ui-splitter/polymer-ui-splitter.html")'>
    </head>
    <body>
        <div id="surface" class="flexbox">
            <div id="code"></div>
            <polymer-ui-splitter direction="right"></polymer-ui-splitter>
            <div id="outputs" flex>
                <div id="output"></div>
                <div id="console"></div>
            </div>
        </div>
        <script src='@routes.Assets.at("components/codemirror/lib/codemirror.js")'></script>
        <script src='@routes.Assets.at("components/codemirror/mode/clike/clike.js")'></script>
        <script>
            var version = '@build.BuildInfo.version'
        </script>
        <script src='@routes.Assets.at("components/app/app.js")'></script>
    </body>
</html>
